@font-face {
    font-family: 'armwrestlerbold';
    src: url('../assets/ArmWrestler-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
  
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 200px;
  }

  body{
    font-family: "armwrestlerbold";
  }
